body{
    background-image: linear-gradient(rgb(253, 34, 82), rgb(87, 2, 87));
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 8, 8);
    color: white;
    height: 80px;
    padding-left: 4%;
    padding-right: 4%;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style-type: none;
    padding: 20px;
    padding-left: 10px;
    color: white;
}
.login{
    display: flex;
    margin: 13px;
    width: 20%;
}
.login button{
    color: white;
    background-color: rgb(4, 16, 126);
    padding: 6%;
    text-align: center;
    height: 40px;
    margin: 5%;
    border: none;
} 
.firm{
    background-color: white;
    color: black;
    padding: 1% 4% 3% 4%;
    font-size: 18px;
    text-align: left;
}
.firm h2{
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 4%;
    color: white;
    background-color: black;
}
.logo{
    padding: 10px;
}
.col{
    text-align: left;
}
.pos{
    text-align: center; 
 }
 .col ul li{
     list-style-type: none;
     padding: 10px 0px;
 }
 .colA{
    text-align: center;
    padding-bottom: 13%;
    padding-top: 10%;
 }
 col3{
    margin-left: 20%;
 }
 .row{
     display: block;
     align-items: center;
     justify-content: space-evenly;
 }
 .copyright{
     text-align: center;
     color: white;
     margin: 0px;
 }